
<div class=" container mx-auto px-4 pb-5 lg:pb-10  pt-10 lg:pt-20 " id="contact">
  <h2 class=' text-center text-4xl 2xl:text-6xl text-blue-500 mb-10 uppercase'>
       
          Contact us
        </h2>
<div class="lg:flex">
 <div class="lg:basis-1/2">
  <form action='/' class="lg:pr-10" method="POST" data-netlify="true" name="contact">

            <fieldset class='mb-2.5 lg:mb-5 last:mb-0 w-full'>
              <label
                class='block mb-2.5 text-blue-500 text-base uppercase '
              >
                Full name
              </label>
              <span class='block w-full relative '>
                <input
                  id='input-1'
                  type='text'
                  name='fullName'
                  class="px-7 lg:px-5 py-4 w-full text-black font-normal bg-white appearance-none border-[1px] border-blue-500  focus:border-blue-500 transition-all ease-out text-lg lg:text-xl 2xl:text-4.5xl disabled:opacity-25 disabled:cursor-not-allowed rounded-2xl "
                />
              </span>
            
            </fieldset>
            <fieldset class='mb-2.5 lg:mb-5 last:mb-0 w-full'>
              <label
                class='block mb-2.5 text-blue-500 text-base uppercase font-normal '
              >
                E-mail Address
              </label>
              <span class='block w-full relative '>
                <input
                  id='input-2'
                  type='email'
                  name='email'
                
                  placeholder='Ex: john.doe@mail.com'
                  class= "px-7 lg:px-5 py-4 w-full text-black font-normal bg-white appearance-none border-[1px] border-blue-500  focus:border-blue-500 transition-all ease-out text-lg lg:text-xl 2xl:text-4.5xl disabled:opacity-25 disabled:cursor-not-allowed rounded-2xl placeholder:text-gray-500  placeholder:opacity-60 "
                />
             
              </span>
            </fieldset>
      <fieldset class='mb-2.5 lg:mb-5 last:mb-0 w-full'>
              <label
                class='block mb-2.5 text-blue-500 text-base uppercase font-normal '
              >
                Phone number
              </label>
              <span class='block w-full relative '>
                <input
                  id='input-2'
                  type='tel'
                  name='phone'

                  class= "px-7 lg:px-5 py-4 w-full text-black font-normal bg-white appearance-none border-[1px] border-blue-500  focus:border-blue-500 transition-all ease-out text-lg lg:text-xl 2xl:text-4.5xl disabled:opacity-25 disabled:cursor-not-allowed rounded-2xl placeholder:text-gray-500  placeholder:opacity-60 "
                />
             
              </span>
            </fieldset>

        <fieldset class='mb-2.5 lg:mb-5 last:mb-0 w-full'>
          <label
            class='block mb-2.5 text-blue-500 text-base uppercase font-normal '
          >
            What can we do for you
          </label>
          <span class='block w-full relative '>
            <textarea
              id='textarea-1'
              name='message'
             
              class={`px-7 lg:px-5 py-4 w-full text-black bg-white font-normal appearance-none border-[1px] border-blue-500 focus:border-blue-500 transition-all ease-out text-lg lg:text-xl 2xl:text-4.5xl disabled:opacity-25 disabled:cursor-not-allowed rounded-2xl min-h-[200px] block`}
            ></textarea>
         
          </span>
        </fieldset>
      
        
       <button type="submit" class="block w-full sm:w-auto px-8 py-3 rounded-full bg-blue-500 border-2 border-blue-500 text-white text-xl mr-5 hover:bg-white hover:text-blue-500 mb-5 sm:mb-0 transition-colors uppercase">Submit</button>
      </form>
 </div>
 <div class="lg:basis-1/2"></div>
 </div>
    <div class="flex justify-center items-center mt-5">
      <a href="/" class="block mr-5">
        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" data-name="Ebene 1" viewBox="0 0 1024 1024" id="facebook-logo-2019"><path fill="#1877f2" d="M1024,512C1024,229.23016,794.76978,0,512,0S0,229.23016,0,512c0,255.554,187.231,467.37012,432,505.77777V660H302V512H432V399.2C432,270.87982,508.43854,200,625.38922,200,681.40765,200,740,210,740,210V336H675.43713C611.83508,336,592,375.46667,592,415.95728V512H734L711.3,660H592v357.77777C836.769,979.37012,1024,767.554,1024,512Z"></path><path fill="#fff" d="M711.3,660,734,512H592V415.95728C592,375.46667,611.83508,336,675.43713,336H740V210s-58.59235-10-114.61078-10C508.43854,200,432,270.87982,432,399.2V512H302V660H432v357.77777a517.39619,517.39619,0,0,0,160,0V660Z"></path></svg>
        
 </a>
      <a href="/" >
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60" height="60" data-name="Layer 1" viewBox="0 0 128 128" id="instagram"><defs><clipPath id="b"><circle cx="64" cy="64" r="64" fill="none"></circle></clipPath><clipPath id="c"><path fill="none" d="M104-163H24a24.07 24.07 0 0 0-24 24v80a24.07 24.07 0 0 0 24 24h80a24.07 24.07 0 0 0 24-24v-80a24.07 24.07 0 0 0-24-24Zm16 104a16 16 0 0 1-16 16H24A16 16 0 0 1 8-59v-80a16 16 0 0 1 16-16h80a16 16 0 0 1 16 16Z"></path></clipPath><clipPath id="e"><circle cx="82" cy="209" r="5" fill="none"></circle></clipPath><clipPath id="g"><path fill="none" d="M64-115a16 16 0 0 0-16 16 16 16 0 0 0 16 16 16 16 0 0 0 16-16 16 16 0 0 0-16-16Zm0 24a8 8 0 0 1-8-8 8 8 0 0 1 8-8 8 8 0 0 1 8 8 8 8 0 0 1-8 8Z"></path></clipPath><clipPath id="h"><path fill="none" d="M84-63H44a16 16 0 0 1-16-16v-40a16 16 0 0 1 16-16h40a16 16 0 0 1 16 16v40a16 16 0 0 1-16 16Zm-40-64a8 8 0 0 0-8 8v40a8 8 0 0 0 8 8h40a8 8 0 0 0 8-8v-40a8 8 0 0 0-8-8Z"></path></clipPath><clipPath id="i"><circle cx="82" cy="-117" r="5" fill="none"></circle></clipPath><radialGradient id="a" cx="27.5" cy="121.5" r="137.5" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#ffd676"></stop><stop offset=".25" stop-color="#f2a454"></stop><stop offset=".38" stop-color="#f05c3c"></stop><stop offset=".7" stop-color="#c22f86"></stop><stop offset=".96" stop-color="#6666ad"></stop><stop offset=".99" stop-color="#5c6cb2"></stop></radialGradient><radialGradient id="d" cx="27.5" cy="-41.5" r="148.5" xlink:href="#a"></radialGradient><radialGradient id="f" cx="13.87" cy="303.38" r="185.63" xlink:href="#a"></radialGradient><radialGradient id="j" cx="13.87" cy="-22.62" r="185.63" xlink:href="#a"></radialGradient></defs><g clip-path="url(#b)"><circle cx="27.5" cy="121.5" r="137.5" fill="url(#a)"></circle></g><g clip-path="url(#c)"><circle cx="27.5" cy="-41.5" r="148.5" fill="url(#d)"></circle></g><g clip-path="url(#e)"><circle cx="13.87" cy="303.38" r="185.63" fill="url(#f)"></circle></g><g clip-path="url(#g)"><circle cx="27.5" cy="-41.5" r="148.5" fill="url(#d)"></circle></g><g clip-path="url(#h)"><circle cx="27.5" cy="-41.5" r="148.5" fill="url(#d)"></circle></g><g clip-path="url(#i)"><circle cx="13.87" cy="-22.62" r="185.63" fill="url(#j)"></circle></g><circle cx="82" cy="46" r="5" fill="#fff"></circle><path fill="#fff" d="M64 48a16 16 0 1 0 16 16 16 16 0 0 0-16-16Zm0 24a8 8 0 1 1 8-8 8 8 0 0 1-8 8Z"></path><rect width="64" height="64" x="32" y="32" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="8" rx="12" ry="12"></rect></svg>
      </a>

    </div>
 
</div>
